html {
    font-size: 16px;
    font-weight: normal;
}
h1{
    font-size:33px;
}
h2{
    font-size:30px;
}

#cookieMessage{
	background: #007FC6;
	margin-bottom:20px;
	padding:20px;
	border-radius: 10px;
}